celery[redis,sqlalchemy]==5.0.5
psycopg2==2.8.6
redis==3.5.3
SQLAlchemy==1.4.11
sqlalchemy-repr==0.0.2
stem==1.8.0
tqdm==4.56.0
throttle-client==0.3.14
gevent==21.1.2
PySocks==1.7.1
protobuf==3.15.8
SQLAlchemy-Utils==0.37.0
geoip2==4.1.0
cryptography==3.4.7
